# Dafc Chat Analysis

### The objective is to find out the most active members of the group page and as well identify the inactive members and be able to reach out to them

In [1]:
#importing libraties

import pandas as pd
import numpy as np
import re
from csv import reader

In [2]:
dafc_2 = pd.read_csv('Dafc_2.csv')

In [3]:
#peeping into the df

dafc_2.head()

,Date,Time,Member,Message
0,01/08/2018,21:31,+234 806 798 2958,The question is which big club will buy him?
1,01/08/2018,21:31,+234 806 798 2958,He is not a goal poacher nah
2,01/08/2018,21:32,+234 810 212 5164,And the answer z none.. What v been trying to...
3,01/08/2018,21:34,+234 806 798 2958,Pls pay enemy price since your friendly price...
4,01/08/2018,21:47,+234 809 787 1354,Hazard fits into Madrid style of football...

In [4]:
dafc_2.shape

(38901, 4)

In [5]:
dafc_2.isnull().sum()

Date       0
Time       0
Member     0
Message    2
dtype: int64

In [6]:
dafc_2 = dafc_2.dropna(axis = 0)

In [7]:
dafc_2.describe()

              Date    Time        Member           Message
count        38899   38899         38899             38899
unique         561    1297            47             30036
top     11/01/2020   22:32   Dada Kayode   <Media omitted>
freq           645     131          5799              2407

In [8]:
#removing whitespaces

dafc_2['Member'] = dafc_2['Member'].str.strip()
dafc_2.head()

,Date,Time,Member,Message
0,01/08/2018,21:31,+234 806 798 2958,The question is which big club will buy him?
1,01/08/2018,21:31,+234 806 798 2958,He is not a goal poacher nah
2,01/08/2018,21:32,+234 810 212 5164,And the answer z none.. What v been trying to...
3,01/08/2018,21:34,+234 806 798 2958,Pls pay enemy price since your friendly price...
4,01/08/2018,21:47,+234 809 787 1354,Hazard fits into Madrid style of football...

In [9]:
dafc_2.loc[dafc_2['Member'] == '+234 802 522 5222', 'Member'] = 'Sparklez'
dafc_2.loc[dafc_2['Member'] == '+234 813 944 3676', 'Member'] = 'Qs Adedipe'
dafc_2.loc[dafc_2['Member'] == '+234 813 745 6983', 'Member'] = 'Biodun'
dafc_2.loc[dafc_2['Member'] == '+234 810 212 5164', 'Member'] = 'I_am_Nadal'
dafc_2.loc[dafc_2['Member'] == '+234 809 787 1354', 'Member'] = 'PM'
dafc_2.loc[dafc_2['Member'] == '+234 806 937 6956', 'Member'] = 'Holuwaxheun'
dafc_2.loc[dafc_2['Member'] == '+234 803 403 8563', 'Member'] = 'Sam Enny'
dafc_2.loc[dafc_2['Member'] == '+234 703 020 3568', 'Member'] = 'Oluwaseyeariwodola'
dafc_2.loc[dafc_2['Member'] == '+234 813 813 7761', 'Member'] = 'King_Sceptre'
dafc_2.loc[dafc_2['Member'] == '+234 816 093 2566', 'Member'] = 'Tomide'
dafc_2.loc[dafc_2['Member'] == '+234 816 086 2352', 'Member'] = 'Ololade Sowumi'
dafc_2.loc[dafc_2['Member'] == '+234 806 798 2958', 'Member'] = 'Bro Joseph'
dafc_2.loc[dafc_2['Member'] == '+234 806 041 0116', 'Member'] = 'Lawal Tosin'

In [10]:
Members = {'+234 806 640 7043':'Ojo Blessing',
           '+234 703 787 3587':'Tolulope Adebara',
           '+234 816 263 1662': '948 Multimedia',
           '+234 810 940 9119':'Engr Solution',
           '+234 706 299 8645':'Oluwasegun',
           '+234 818 935 7541': 'Till I apprehend',
           '+234 806 414 0541': 'Sir Uchecharles',
           '+234 903 915 6163': 'Emma-Christ',
           '+234 809 793 3416':'Sir Bolu',
           '+234 810 122 1039':'Usifo@JTC',
           '+234 701 645 0230':'PhilipoMaxx',
           '+234 703 330 0224':'Lagbenro',
           '+234 813 300 0655':'Vitalink',
           '+234 803 574 1792':'Omotola',
           '+234 809 941 7589':'Shiffoe',
           '+234 706 281 9737':'Justman',
           '+234 802 801 2423': 'Ibitoye Daniel',
           '+234 703 012 8961':'Ghandi',
           '+234 814 995 1279':'Ab.black',
           '+234 701 231 4574':'Jaiye',
           '+234 813 503 3129':'Olutayo',
           '+234 816 099 8009': np.nan,
           '+234 805 605 8447': np.nan,
           '+234 803 861 8197': np.nan,
           '+234 705 750 4047': np.nan,
           '+234 817 930 2952': np.nan
          }

In [11]:
def member_names(key):
    if key in Members:
        key = Members[key]
    return key

In [12]:
dafc_2['Member'] = dafc_2['Member'].apply(member_names)

In [13]:
id = {
'948 Multimedia':17,
'Ab.black':1,
'Biodun':2,
'Bro Joseph':3,
'Dada Kayode':4,
'Demola Bld':5,
'Dre Hassan':6,
'Emma-Christ':7,
'Engr Solution':8,
'Ghandi':9,
'Holuwaxheun':10, 
'I_am_Nadal':11, 
'Ibitoye Daniel':12,
'Jaiye':13,
'Justman':14, 
'King_Sceptre':15, 
'Koch Chris':16,
'Koch Tunde':18,
'Lagbenro':19,
'Lawal Tosin':20,
'Maazi':21, 
'Ojo Blessing':22,
'Ololade Sowumi':23,
'Olutayo':24,
'Oluwasegun':25, 
'Oluwaseyeariwodola':26, 
'Omotola':27, 
'PhilipoMaxx':28, 
'PM':29,
'Qs Adedipe':30,
'Sam Dafc':31,
'Sam Enny':32,
'Shiffoe':33,
'Sir Bolu':34,
'Sir Uchecharles':35,
'Sparklez':36, 
'Till I apprehend':37,
'Tolulope Adebara':38,
'Tomide':39,
'Usifo@JTC':40,
'Vitalink':41
}

In [14]:
def give_id(key):
    if key in id:
        key = id[key]
    return key

In [15]:
dafc_2['id'] = dafc_2['Member']

In [16]:
dafc_2.head()

,Date,Time,Member,Message,id
0,01/08/2018,21:31,Bro Joseph,The question is which big club will buy him?,Bro Joseph
1,01/08/2018,21:31,Bro Joseph,He is not a goal poacher nah,Bro Joseph
2,01/08/2018,21:32,I_am_Nadal,And the answer z none.. What v been trying to...,I_am_Nadal
3,01/08/2018,21:34,Bro Joseph,Pls pay enemy price since your friendly price...,Bro Joseph
4,01/08/2018,21:47,PM,Hazard fits into Madrid style of football...,PM

In [17]:
dafc_2['id'] = dafc_2['id'].apply(give_id)

In [18]:
dafc_2.head()

,Date,Time,Member,Message,id
0,01/08/2018,21:31,Bro Joseph,The question is which big club will buy him?,3.0
1,01/08/2018,21:31,Bro Joseph,He is not a goal poacher nah,3.0
2,01/08/2018,21:32,I_am_Nadal,And the answer z none.. What v been trying to...,11.0
3,01/08/2018,21:34,Bro Joseph,Pls pay enemy price since your friendly price...,3.0
4,01/08/2018,21:47,PM,Hazard fits into Madrid style of football...,29.0

In [19]:
def get_hour(element):
    result = element[0:3]
    return int(result)

In [20]:
dafc_2['Hour'] = dafc_2['Time'].apply(get_hour)

In [21]:
dafc_2.head()

,Date,Time,Member,Message,id,Hour
0,01/08/2018,21:31,Bro Joseph,The question is which big club will buy him?,3.0,21
1,01/08/2018,21:31,Bro Joseph,He is not a goal poacher nah,3.0,21
2,01/08/2018,21:32,I_am_Nadal,And the answer z none.. What v been trying to...,11.0,21
3,01/08/2018,21:34,Bro Joseph,Pls pay enemy price since your friendly price...,3.0,21
4,01/08/2018,21:47,PM,Hazard fits into Madrid style of football...,29.0,21

In [22]:
dafc_2 = dafc_2.dropna(axis = 0, how = 'any')

In [23]:
dafc_2.isnull().sum()

Date       0
Time       0
Member     0
Message    0
id         0
Hour       0
dtype: int64

In [24]:
dafc_2.describe()

                 id          Hour
count  38772.000000  38772.000000
mean      19.028680     16.781621
std       12.575174      5.134813
min        1.000000      0.000000
25%        6.000000     12.000000
50%       20.000000     18.000000
75%       30.000000     21.000000
max       41.000000     23.000000

In [25]:
dafc_2.shape

(38772, 6)

In [26]:
dafc_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38772 entries, 0 to 38900
Data columns (total 6 columns):
Date       38772 non-null object
Time       38772 non-null object
Member     38772 non-null object
Message    38772 non-null object
id         38772 non-null float64
Hour       38772 non-null int64
dtypes: float64(1), int64(1), object(4)
memory usage: 2.1+ MB

In [27]:
#saving to csv

dafc_2.to_csv('dafc_Cleaned.csv', index = False, header = True)