# Exercise

In [1]:
import numpy as np
import pandas as pd
from csv import reader

In [2]:
df = pd.read_csv('Exercise.csv')
df.head()

,created_at,text,in_reply_to_status_id_str,source,in_reply_to_screen_name,contributors,quoted_status_id,quote_count,reply_count,retweet_count,favorite_count,retweeted,followers_count
0,2019-12-19 08:20:07,"On behalf of my family, I wish @bukolasaraki a...",NaN,Twitter for iPhone,NaN,NaN,Not Availabe,Not Availabe,Not Availabe,1227,10787,NaN,NaN
1,2019-12-15 16:08:46,How sweet of my grandchildren to bring me a be...,NaN,Twitter for iPhone,NaN,NaN,Not Availabe,Not Availabe,Not Availabe,943,11928,NaN,NaN
2,2019-12-15 07:53:46,"On behalf of my family, I thank those present ...",NaN,Twitter for iPhone,NaN,NaN,Not Availabe,Not Availabe,Not Availabe,714,6539,NaN,NaN
3,2019-12-13 15:51:58,I congratulate @BorisJohnson on his reelection...,NaN,Twitter for iPhone,NaN,NaN,Not Availabe,Not Availabe,Not Availabe,639,5373,NaN,NaN
4,2019-12-10 09:44:44,#HumanRightsDay means that the global human co...,NaN,Twitter for iPhone,NaN,NaN,Not Availabe,Not Availabe,Not Availabe,822,3380,NaN,NaN

In [3]:
df['contributors'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: contributors, dtype: float64

In [4]:
open_tweet = open('Exercise.csv',encoding = 'utf8')
read_tweet = reader(open_tweet)
tweet_data = list(read_tweet)

def explore_data(dataset, start, end, row_column = False):
    dataslice = dataset[start:end]
    for row in dataslice:
        print(row)
        print('\n')
    if row_column:
        print('Number of rows: ',  len(dataset))
        print('Number of columns ',  len(dataset[0]))
        print('\n')

In [5]:
explore_data(tweet_data, 0, 5,True)

['created_at', 'text', 'in_reply_to_status_id_str', 'source', 'in_reply_to_screen_name', 'contributors', 'quoted_status_id', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'retweeted', 'followers_count']


['2019-12-19 08:20:07', 'On behalf of my family, I wish @bukolasaraki a very happy birthday. May Allah grant you many more years in good health and continued service to Nigeria. -AA https://t.co/YYHcR3AaSX', '', 'Twitter for iPhone', '', '', 'Not Availabe', 'Not Availabe', 'Not Availabe', '1227', '10787', '', '']


['2019-12-15 16:08:46', 'How sweet of my grandchildren to bring me a belated birthday cake. #smiles https://t.co/gjak4bGmdt', '', 'Twitter for iPhone', '', '', 'Not Availabe', 'Not Availabe', 'Not Availabe', '943', '11928', '', '']


['2019-12-15 07:53:46', 'On behalf of my family, I thank those present and also well-wishers for their prayers at the Wedding Fatiha of my dear son, @HHMustaphaAA and his wife, Afrah El-Nafaty. May Allah bless you all for making it a truly special day for me and my family. -AA https://t.co/a6xniZXW1l', '', 'Twitter for iPhone', '', '', 'Not Availabe', 'Not Availabe', 'Not Availabe', '714', '6539', '', '']


['2019-12-13 15:51:58', 'I congratulate @BorisJohnson on his reelection as Prime Minister of the United Kingdom. -AA', '', 'Twitter for iPhone', '', '', 'Not Availabe', 'Not Availabe', 'Not Availabe', '639', '5373', '', '']


Number of rows:  3230
Number of columns  13

In [6]:
df.isnull().sum()

created_at                      0
text                            0
in_reply_to_status_id_str    2206
source                          0
in_reply_to_screen_name      2206
contributors                 3229
quoted_status_id                0
quote_count                     0
reply_count                     0
retweet_count                   0
favorite_count                  0
retweeted                    3229
followers_count              3229
dtype: int64

In [7]:
df = df.drop(['contributors', 'retweeted', 'followers_count', 'in_reply_to_status_id_str', 'in_reply_to_screen_name', 'quote_count', 'reply_count', 'quoted_status_id'], axis = 1)
df.isnull().sum()

created_at        0
text              0
source            0
retweet_count     0
favorite_count    0
dtype: int64

In [8]:
df.head()

,created_at,text,source,retweet_count,favorite_count
0,2019-12-19 08:20:07,"On behalf of my family, I wish @bukolasaraki a...",Twitter for iPhone,1227,10787
1,2019-12-15 16:08:46,How sweet of my grandchildren to bring me a be...,Twitter for iPhone,943,11928
2,2019-12-15 07:53:46,"On behalf of my family, I thank those present ...",Twitter for iPhone,714,6539
3,2019-12-13 15:51:58,I congratulate @BorisJohnson on his reelection...,Twitter for iPhone,639,5373
4,2019-12-10 09:44:44,#HumanRightsDay means that the global human co...,Twitter for iPhone,822,3380

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3229 entries, 0 to 3228
Data columns (total 5 columns):
created_at        3229 non-null object
text              3229 non-null object
source            3229 non-null object
retweet_count     3229 non-null int64
favorite_count    3229 non-null int64
dtypes: int64(2), object(3)
memory usage: 126.2+ KB

In [10]:
df['source'].value_counts()

Twitter for iPhone      3097
Twitter Web App           62
Twitter Web Client        61
Medium                     4
Periscope                  3
Facebook                   1
Twitter Media Studio       1
Name: source, dtype: int64

In [11]:
def get_time(element):
    return element[12:20]

def get_date(element):
    return element[0:11]

In [12]:
df['time_created'] = df['created_at'].apply(get_time)
df['date_created'] = df['created_at'].apply(get_date)
df = df.drop(['created_at'], axis = 1)
df.head()

,text,source,retweet_count,favorite_count,time_created,date_created
0,"On behalf of my family, I wish @bukolasaraki a...",Twitter for iPhone,1227,10787,8:20:07,2019-12-19
1,How sweet of my grandchildren to bring me a be...,Twitter for iPhone,943,11928,6:08:46,2019-12-15
2,"On behalf of my family, I thank those present ...",Twitter for iPhone,714,6539,7:53:46,2019-12-15
3,I congratulate @BorisJohnson on his reelection...,Twitter for iPhone,639,5373,5:51:58,2019-12-13
4,#HumanRightsDay means that the global human co...,Twitter for iPhone,822,3380,9:44:44,2019-12-10

In [13]:
def get_hour(element):
    result = element[0:1]
    return result

In [14]:
df['hour'] = df['time_created'].apply(get_hour)
df.head()

,text,source,retweet_count,favorite_count,time_created,date_created,hour
0,"On behalf of my family, I wish @bukolasaraki a...",Twitter for iPhone,1227,10787,8:20:07,2019-12-19,8
1,How sweet of my grandchildren to bring me a be...,Twitter for iPhone,943,11928,6:08:46,2019-12-15,6
2,"On behalf of my family, I thank those present ...",Twitter for iPhone,714,6539,7:53:46,2019-12-15,7
3,I congratulate @BorisJohnson on his reelection...,Twitter for iPhone,639,5373,5:51:58,2019-12-13,5
4,#HumanRightsDay means that the global human co...,Twitter for iPhone,822,3380,9:44:44,2019-12-10,9

In [15]:
df['hour'].value_counts()

7    487
8    463
9    462
0    321
1    311
6    304
2    237
5    228
3    223
4    193
Name: hour, dtype: int64

In [16]:
#saving to csv

df.to_csv('tweet_analysis.csv', index = False, header = True)